<div id ="portfolio" class = "wrapper-style1">
    <h1>Thank you for your order </h1><br>
    <br> <h2>Dont forget to tell us what you think in the </h2>
   <br> <h2>comments section one you have read the book</h2>
    <br><h2><%= link_to "Continue browsing the site?", root_path %></h2>
    <br><h2><%= link_to "Logout?", logout_path %></h2>
</div>