<!DOCTYPE html>
<html>
    <head>
        <meta content = "text/html; charset=UTF-8" http-equiv= "Content-Type"/>
    </head>
    <body>
        <h1>Thank you for your order <%= @member.name %></h1>
        <p> You have on loan :</p>
        <p><%= @member.lineitems %></p>
        <p>Dont forget to return them!</p>
    </body>
</html>