<!DOCTYPE html>
<html>
    <head>
        <meta content = "text/html; charset=UTF-8" http-equiv= "Content-Type"/>
    </head>
    <body>
        <h1>Thank you for registering</h1>
        <h1>And welcome to our site <%= @member.name %></h1>
        <p> You have successfully signed up to the site!</p>
        <p> We hope you enjoy the site and encourage you to leave as many reviews as possible!!</p>
    </body>
</html>