

<h1>Books Available</h1>
    <% @books.each do |book| %>
    <% if book.available == true %>
        <br><h3><%= book.title %></h3>
       <br> <%= book.author %>
       <br> <%= button_to 'Add to Cart', lineitems_path(book_id: book) %>
<% else %>
    <br><p>There are no books</p>

    <% end %>
<%end%>
<br><h2>Desired book not avialable? </h2>
<br><h3><%= link_to "Make a Reservation", new_reservation_path %></h3>